#Global
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.DS_Store
.env
.env.* # any env variant
*.local
*.log
.tmp/
.cache/
.tmp/
*.zip

#Backend
backend/node_modules/
backend/uploads/
backend/public/temp/
backend/public/videos/
backend/public/thumbnails/
backend/.env
backend/.env.*
backend/public/assets/*
backend/public
#mongoose debug dumps
backend/*.dump

#Frontend
frontend/dist/
frontend/build/
frontend/node_modules/
frontend/.env
frontend/.env.*
frontend/.next/
frontend/.turbo/
frontend/.parcel-cache/
frontend/.vite/
frontend/dist/
frontend/build/

#React/Next build files
frontend/.log
frontend/.local

#OS generate files
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini
$RECYCLE.BIN/

#taken from .gitignore generator
#asset folder in public

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# dotenv environment variables file
backend/.env
backend/.env.test
backend/.env.production

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
